<p>There's a new user account sign up request for <%= @user.email %>. You can confirm this by using the link below:</p>

<p><%= link_to 'Confirm Account', "https://infinite-ravine-11727.herokuapp.com/users/confirmation?confirmation_token=#{@user.confirmation_token}" %></p>
