<p>Hi, <%= @user.first_name %></p>

<p>We are pleased to inform you that your account has been approved. You may now login your account <p><%= link_to 'here', "https://infinite-ravine-11727.herokuapp.com/users/sign_in" %></p>.</p>
