<% if params[:type] == 'buy' %>
  <h1>Buying</h1>
<% else %>
  <h1>Selling</h1>
<% end %>


<%= render "stocks/form", stock: @stock %>

<br>

<div>
  <%= link_to "Back", :back %>
</div>
